<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button slot="start" name="star"></ion-menu-button>
          </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <h5>Nome: {{dados.nome}}</h5>
      <h5>Telefone: {{dados.telefone}}</h5>
      <h5>Email: {{dados.email}}</h5>
      <h5>Endereço: {{dados.endereco}}</h5>
      <h5>Data de Nascimento: {{dados.dataNascimento}}</h5>
      <h5>CPF: {{dados.cpf}}</h5>
      <h5>CPF do Responsável: {{dados.cpfResp}}</h5>
      <h5>Telefone do Responsável: {{dados.telefoneResp}}</h5>

  
  </ion-content>
  